<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="content">
      <%- include("./partials/header.ejs") %>
      <main class="with-picture">
        <h2><%= title %></h2>
        <p class="conditions">
          To become an admin you need to enter the name of the city on the
          picture.
        </p>
        <img class="picture" src="/images/picture2.jpg" alt="" />
        <form action="" method="POST" class="become-admin-form">
          <section>
            <label for="admin_password">Secret password:</label>
            <input
              type="text"
              id="admin_password"
              name="admin_password"
              required
            />
          </section>

          <div class="errors">
            <% if (locals.errors) { %>
            <ul>
              <% for (let error of errors) { %>
              <li><%= error.msg %></li>
              <% } %>
            </ul>
            <% } %>
          </div>
          <div class="buttons">
            <button type="submit">Enter</button>
            <button type="button" onclick="location.href='/'">
              Return home
            </button>
          </div>
        </form>
      </main>
    </div>
    <%- include("./partials/nav.ejs") %>
  </body>
</html>
