<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div>
      <%- include("./partials/header.ejs") %>
      <main>
        <h2><%= title %></h2>
        <form action="" method="POST">
          <section>
            <label for="title">Message title:</label>
            <input
              type="text"
              id="title"
              name="title"
              maxlength="100"
              required
            />
          </section>
          <section>
            <label for="text">Message text:</label>
            <input type="text" id="text" name="text" maxlength="300" required />
          </section>
          <div>
            <% if (locals.errors) { %>
            <ul>
              <% for (let error of errors) { %>
              <li><%= error.msg %></li>
              <% } %>
            </ul>
            <% } %>
          </div>
          <button type="submit">Add message</button>
        </form>
      </main>
    </div>
  </body>
</html>
