<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="content">
      <%- include("./partials/header.ejs") %>
      <main class="with-picture">
        <h2><%= title %></h2>
        <p class="conditions">
          To become a member of our club you need to enter the name of the
          country in the picture.
        </p>
        <img class="picture" src="/images/picture.jpg" alt="" />
        <form action="" method="POST" class="join-club-form">
          <section>
            <label for="club_password">Secret password:</label>
            <input
              type="text"
              id="club_password"
              name="club_password"
              required
            />
          </section>

          <div class="errors">
            <% if (locals.errors) { %>
            <ul>
              <% for (let error of errors) { %>
              <li><%= error.msg %></li>
              <% } %>
            </ul>
            <% } %>
          </div>
          <div class="buttons">
            <button type="submit">Join</button>
            <a href="/">
              <button type="button">Return home</button>
            </a>
          </div>
        </form>
      </main>
    </div>
    <%- include("./partials/nav.ejs") %>
  </body>
</html>
