<!DOCTYPE html>
<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="content">
      <%- include("./partials/header.ejs") %>
      <main>
        <h2><%= title %></h2>
        <form action="" method="POST" class="sign-up-form">
          <section>
            <label for="first_name">First name:</label>
            <input type="text" id="first_name" name="first_name" maxlength="20"
            value="<%= locals.user?user.first_name:"" %>" required />
          </section>
          <section>
            <label for="last_name">Last name:</label>
            <input type="text" id="last_name" name="last_name" maxlength="20"
            value="<%= locals.user?user.last_name:"" %>" required />
          </section>
          <section>
            <label for="username">Username (e-mail):</label>
            <input type="email" id="username" name="username" value="<%=
            locals.user?user.username:"" %>" required />
          </section>
          <section>
            <label for="password">Password:</label>
            <input
              type="password"
              id="password"
              name="password"
              required
              minlength="5"
            />
          </section>
          <section>
            <label for="confirmPassword">Confirm password:</label>
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              required
            />
          </section>
          <div class="errors">
            <% if (locals.errors) { %>
            <ul>
              <% for (let error of errors) { %>
              <li><%= error.msg %></li>
              <% } %>
            </ul>
            <% } %>
          </div>
          <div class="buttons">
            <button type="submit">Sign up</button>
            <button type="button" onclick="location.href='/'">
              Return home
            </button>
          </div>
        </form>
      </main>
    </div>
    <%- include("./partials/nav.ejs") %>
  </body>
</html>
